@model New_with_Views.Models.Entities.Movie
<!-- Shared View hentes -->
    @{
        ViewBag.Title = "Create New Movie";
        ViewBag.Phrase = "Fill out the form";
        ViewBag.BtnText = "Create";
    }    

    <form asp-controler="Movie" asp-action="Create" method="POST" class="form-horizontal" >
        @Html.Partial("_MoviesForm")
    </form>