@model New_with_Views.Models.Entities.Actor

<!-- Shared View hentes -->
    @{
        ViewBag.Title = "Delete Actor: " + @Model.FirstName + " " + @Model.LastName;
        ViewBag.Phrase = "Are you sure you want to delete this Actor?";
        
    }

<form asp-controler="Actor" asp-action="Delete" method="POST" class="form-horizontal">
    @Html.Partial("_ActorDetails")
    <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a class="btn btn-info" asp-controller="Movie" asp-action="Index">Back to List</a>
            </div>
        </div>
</form>
