
   @{
        ViewBag.Title = "Movies at Home";
        ViewBag.Phrase = "Brought to you by MHansen";
    }

    <p> @foreach(var mo in ViewBag.Y)
        {
            <p>  @mo.MovieTitle   </p>
        }
     </p>
     
     </p>
  